@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Londrina+Shadow&family=Nixie+One&family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Fredoka One', cursive;
    
}

li, a, button {
    color: black;
   
}

p{
    font-family: 'Josefin Slab', serif;

}

