@import './resets';
@import './variables';



@mixin fresh-font(){
  
  font-family: 'Courier Prime', monospace;
}
  
  
@mixin   serif-font(){
  font-family: 'EB Garamond', serif;
}
@mixin   sansserif-font(){
  font-family: 'Oswald', sans-serif;
}
  
@mixin color(){
  
  color: rgb(179, 112, 179);
}
  
  
@mixin font($font-weight,$font-size){
   font-weight: $font-weight;
   font-size: $font-size;
}

@mixin center(){
  text-align: center;
}




html,body{
 
  scroll-behavior: smooth;
  overflow:scroll;
 
}
 
.App{
  height: 100vh;
}
 

 
 


//background components...................

// 98deg, transparent 40%,rgb(21, 110, 184) 38%, rgb(255, 255, 255)
  

.background{
 
background-image:linear-gradient(180deg, rgb(202, 202, 202),rgb(179, 112, 179),rgb(138, 123, 138));
background-size: cover;
height: 100vh;
}
   


  
  

  

.sidebar{
  width: 50%;
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(0, 0, 0,0.1) 30%,transparent 30%);
  animation: expand 0.8s ease 0s 1 ;
  position: absolute;
  z-index:2;
  @keyframes expand {
    0%{
      width: 0%;
      opacity:0;
    }
    100%{
      width: 50%;
    }
  }
  

}

  




/////Title.............

.main{
  
  
  .title{
   
    color:transparent;
    background: url('https://images.pexels.com/photos/1439226/pexels-photo-1439226.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-clip: text;
    background-position: 30% 80%;
    @include font(600, 3.2rem);
    font-family: 'Pacifico', cursive;
    margin: 1% 0% 0% 1%;
    right:0%;
    outline: none;
    border:none;

  
    
   
    
   
  }
    

  .letter{
    
     @include font(400, 3.5rem);
     font-family: 'Pacifico', cursive;
     color: whitesmoke;
     
    }
  }
     
     
   
    
  ////tagline.......


  .tagline{
    @include sansserif-font();
    @include center();
    @include font(600, 3rem);
    margin-top: 0;
    padding-top: 12%;
    animation: highlight 0.4s linear 1;
    @keyframes highlight{
      0%{
       color:black;
       opacity:0;
     }
     50%{
      
      transform:translate(0px,-20px);
      color: rgb(78, 70, 85);
      opacity:0;
    }
     100%{
       color:black;
     }
   }
    
    
      &-btn{
       border-radius: 50%;
       @include font(200, 2rem);
       padding: 2% 1%;
       border:none;
       outline: none;
       display: flex;
       justify-content: center;
       margin: auto;
       margin-top: 3%;
       background-color: rgb(175, 121, 206);
       color: white;
       width: 110px;
       @include fresh-font();
       
       
      }
      
      
      &-btn:active{
       border: none;
       outline: none;
       box-sizing: border-box;
       background: black;
       transition: background 0.1s ease;
    
     
      }
      &-btn:focus {
        outline:0;
        
      }

      &-btn:hover{
        border: 2px solid rgb(201, 161, 218);
       }
    
      
  
       
       
  
  }

  

  ///navbar section..................
  
  
  
  .navbar{
  
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:flex-start;
  color:$color;
  padding: 2% 0 1% 2%;
  width: 120%;
  
  
  
   
  
  
  .nav-bg{
      background-color: transparent;
      &:hover{
        opacity: 0.6;
       
      }
    }
  
    .button{
      outline: none;
      border: none;
      @include font(400, 1.8rem);
      text-transform:uppercase;
      color: white;
      @include fresh-font();
     
    }
     
    .button a:active{
      outline:none;
      text-decoration: none;
      color:white;
  }
   }
  
  
     
   .line{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 3px;
    margin: 0% 0%;
    float:left;
    animation: wide 0.7s ease 1;
    @keyframes wide{
      0%{
        width: 0%;
        
      }
      100%{
        width: 100%;
       
      }
      
    }
  }



 
    









////list of items.................


   
.list{
   text-decoration: none;
   list-style: none;
   background-color: transparent;
  

  }
  .list-item{
    
    padding: 1% 2%;
   @include font(700, 1.1rem);
    text-align: center;
    
  }
    

  ///home-content..............................
  
  .flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    
  }
  
  .home{
        color: white;
        @include font(400, 2.1rem);
        @include sansserif-font();
        background-color: grey;
        padding: 5%;
        margin:0;
  }
    

///about-us section..............
  
  
.about-para-wrapper{
  background-image: linear-gradient(90deg, rgba(18,18,18,0.2) 30%,transparent 30%),linear-gradient(30deg, rgb(255, 255, 255) 10%,transparent), url('../img/pexels-jess-bailey-designs-1119794.jpg');
  background-size: cover,cover;
  background-position-x: 40%;
  padding: 5% 5% 2% 30%;

 

  .about-para{
    @include font(400, 2.5rem);
    text-align: justify;
    padding: 4% 5%;
    color: grey;
    @include sansserif-font();
    // @media (max-width: 1345px){
    //   @include font(700, 1.2rem);
    // }
    }
   
}






  


  
  
    




    
      
   


    







  

   



    
  
   




   

  





  
  




  
  





     






//footer...............................




.bg-footer{
//  background-image: radial-gradient( ellipse at 70% 13%,  transparent 25%,transparent 25%);
  height: 17vh;
  width: 100%;
  bottom: 0%;
  position: absolute;
}

.footer{
  margin:0 auto;
  position:absolute;
  bottom: 0%;
  left: -4%;
  // background-color: yellow;
  width:67%;
  height:10%;
  border-top:5px solid yellow;
  border-left:5px solid transparent;
  border-right:5px dotted transparent;
  border-right:none;
  border-top-left-radius:100%;
  border-top-right-radius:23px;
  border-bottom-right-radius:60%;
  float:left;
  height: 10vh;
  background-color: yellow;
}


.bgg{
  position: absolute;
  bottom: 70%;
  left: 60%;
  
  // background-image: radial-gradient( circle at 1% 50%, white 6%,yellowgreen 6%)  ;
  // border-top-right-radius: -20px;

      width: 200px;
      height: 150px;
      // margin: 20px 0;
      background: red;
      border-radius: 50% / 20%;
      color: white;
      text-align: center;
      text-indent: .1em;
}
// .footer1{
//   position: relative;
//   top: -14%; 
//   left: 59%;
//   width:45%;
//   height:10%;
//   border-bottom:4px solid yellow;
//   border-right:5px solid transparent;
//   border-left: none;
//   border-bottom-right-radius:100%;
//   border-bottom-left-radius:0%;
//   height: 10vh;
//   display: inline-block;
//   transform: rotate(20px,0px);
//   // background-color: yellow;
// }

  
 
    








 
  
  

  
   
 
 

  
  
  