@import './resets';
@import './variables';



@mixin fresh-font(){
  
  font-family: 'Courier Prime', monospace;
}
  
  
@mixin   serif-font(){
  font-family: 'EB Garamond', serif;
}
  
@mixin color(){
  // color:rgb(65, 238, 180);
  color: (179, 112, 179);
}
  
  
@mixin font($font-weight,$font-size){
   font-weight: $font-weight;
   font-size: $font-size;
}

@mixin center(){
  text-align: center;
}




html,body{
  height: 100%;
  // background: linear-gradient(180deg, rgb(102, 1, 102),rgb(112, 57, 112)) ;
  

  // overflow: hidden;
 
}
 
.App{
  height: 100vh;
  background: linear-gradient(180deg, rgb(184, 183, 184),rgb(179, 112, 179),rgb(138, 123, 138)) ;
  
}

//style components...................



.background{
 
  // background-image:linear-gradient(90deg,transparent 38%,rgb(21, 110, 184) 35%, rgb(255, 255, 255)  );
  background-size: cover;
  height: 100vh;


}



/////Title.............

.main{
  
  
  .title{
    @include color();
    @include font(600, 3.5rem);
    font-family: 'EB Garamond', serif;
    text-align: left;
    padding: 2% 0 0 2%;
   
  }
    

  .letter{
    
     @include font(400, 3.2rem);
     @include fresh-font();
     color: rgb(228, 255, 246);
     display: inline-block;
     line-height: 65%;
     border-radius: 50%;
     background-image: radial-gradient(transparent , rgb(201, 161, 218) 50%);
     
    }
  
  }
     
  ////tagline.......
  
  .tagline{
    // font-family: 'Bungee Shade', cursive;
    @include serif-font();
    @include center();
    @include font(700, 3rem);
    display: block;
    margin-top: 14%;
    animation: highlight;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count:1;
     @keyframes highlight{
       0%{
        color:rgb(0, 0, 0);
        opacity:0;
      }
      50%{
       
       transform:translate(0px,-20px);
       color: rgb(78, 70, 85);
       opacity:0;
     }
      100%{
        color:rgb(0, 0, 0);
      }
    }
    
      &-btn{
       border-radius: 50%;
       @include font(200, 2rem);
       padding: 2% 1%;
       border:none;
       outline: none;
       display: flex;
       justify-content: center;
       margin: auto;
       margin-top: 3%;
       background: rgba(175, 127, 182, 0.8);
       border: 2px solid rgb(201, 161, 218);
       color: white;
       width: 110px;
       @include fresh-font();
       
      }
      
    
      &-btn:active{
       border: none;
       outline: none;
      
       box-sizing: border-box;
     
       background: black;
       transition: background 0.1s ease;
  
      }
      &-btn:focus {
        outline:0;
      }
       
       
  
  }







 
    















///navbar section..................
.navbar{

display: flex;
flex-direction: column;
justify-content:space-evenly;
align-items:center;
color:$color;
margin-top: 5vh;



.nav-bg{
    background-color: transparent;
    &:hover{
      opacity: 0.6;
    }
  }


  .button{
    outline: none;
    border: none;
    @include font(400, 2.5rem);
    text-transform:uppercase;
    margin-right:10px;
    color: rgb(0, 0, 0);
    @include fresh-font();
    //   @media (max-width: 910px){
    //     font-size: 1.4rem;
    //     margin-right:1rem;
    //   }
    //   @media (max-width: 700px){
    //     font-size: 1.1rem;
    //     margin-right: 0.5rem;
    //   }
    // } 

 }
    
}

 .line1{
  background: rgb(255, 255, 255);
  width: 50%;
  height: 3px;
  float:left;
  animation: wide;
  animation-delay: 0s;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  @keyframes wide{
    0%{
      width: 0%;
    }
    100%{
      width: 50%;
    }
  }
}
    

  


 .line2{
  background: rgb(255, 255, 255);
  width: 50%;
  height: 3px;
  float:right;
  animation: wide;
  animation-delay: 0s;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  @keyframes wide{
    0%{
      width: 0%;
    }
    100%{
      width: 50%;
    }
    
  }
}

  
  
    




    
      
   


    








   
//////////icon section...................

.container{
  margin-top: 10%;

  // @media (max-width: 995px){
  //   //     margin-top: 10vh;
  //   //     width: 800px;
  //    }
}






.img-quote{
  width: 90px;
  height: 120px;
  box-shadow: 2px 2px 10px 2px rgb(87, 62, 62);
  border-radius: 50% 50% 50% 2px;
  padding: 6% 6% 2% 5%;
  position: relative;
  top:10%;
  left:30%;
  color:rgb(100, 40, 40);
  box-sizing:content-box;
  transform:rotate(0deg);
  font-size: 1.1rem;
  @include fresh-font();
  font-weight: 800;
  display: inline-block;
  

//   @media (max-width: 995px){
//     padding: 6%;
//     width: 85px;
//     height: 100px;
//     font-size: 0.9;

//  }

//  @media (max-width: 600px){
//     font-size: 0.9rem;
//     width: 80px;
//  }
 
}



  .img-icon1{
    position: relative;
    top: 37%;
    left: 0%;
    height: 80px;
    width: 80px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 2px 4px 12px 3px rgb(83, 19, 19);
    border: 1px solid brown;
   


    //  @media (max-width: 995px){
    //      top: 32%;
    //      left: -10%;
    
     
    // }
 
    // @media (max-width: 600px){
        
    // }
 



  }
  .img-icon2{
    border: 1px solid brown;
    display: inline-block;
     position: relative;
     top: 0%;
     left: 0%;
     height: 70px;
     width: 100px;
     box-shadow: 2px 4px 12px 3px rgb(83, 19, 19);
     border-radius: 60% 60% 4px 4px;
     
    //  @media (max-width: 995px){
    //   top: 59%;
    //   left: 37%;
   
    // }




  }
    
  


   



////list of items.................

// .slider{
  
 


// }




 .list{
   text-decoration: none;
   list-style: none;
   background-color: rgba(117, 115, 115, 0.4);
  

  }
  .slider-item{
    
    padding: 1% 2%;
   
    font-weight: 700;
    font-size: 1.1rem;
    text-align: left;
    
  }
    
   



.slider{
  


  &-button{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 5rem;
    padding:0;
   
   
  }
}
  
   

  





  
  


///img section center...............

.img-bg{
  //  padding: 0px 2px;
   margin-top: 0.5vh;
   object-fit: cover;
  //  border-left: 2px solid rgba(143, 87, 87,0.5);
  //  border-right: 2px solid rgba(143, 87, 87,0.5);
   opacity: 0.9;
   position: relative;
   z-index: -1;
 
}

///home-content

.flex{
  position: absolute;
  background-image:linear-gradient(45deg, rgba(226, 226, 226, 0.5),rgba(253, 231, 231, 0.2)),url('https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover, cover ;
  background-position: left;
  background-repeat: no-repeat,no-repeat;
  height: 60%;
  width:100%;
  top: 200px;
  z-index: -1;
  

}

.home-content{
     color: rgb(100, 40, 40) ;
     @include fresh-font();
}



///about-us section..............


.about-para-wrapper{
   background-image: linear-gradient(30deg, rgba(255, 255, 255, 0.8) 35%,transparent), url('../img/pexels-jess-bailey-designs-1119794.jpg');
   background-size: cover,cover;
   background-position-x: 40%;
   margin: auto;
 


   .about-para{
     @include font(600, 1.5rem);
     text-align: justify;
     padding: 4% 5%;
     
     
     @media (max-width: 1345px){
       @include font(700, 1.2rem);
     }
   }
 }




//footer...............................




.bg-footer{
//  background-image: radial-gradient( ellipse at 70% 13%,  transparent 25%,transparent 25%);
  height: 17vh;
  width: 100%;
  bottom: 0%;
  position: absolute;
}

.footer{
  margin:0 auto;
  position:absolute;
  bottom: 0%;
  left: -4%;
  // background-color: yellow;
  width:67%;
  height:10%;
  border-top:5px solid yellow;
  border-left:5px solid transparent;
  border-right:5px dotted transparent;
  border-right:none;
  border-top-left-radius:100%;
  border-top-right-radius:23px;
  border-bottom-right-radius:60%;
  float:left;
  height: 10vh;
  background-color: yellow;
}


.bgg{
  position: absolute;
  bottom: 70%;
  left: 60%;
  
  // background-image: radial-gradient( circle at 1% 50%, white 6%,yellowgreen 6%)  ;
  // border-top-right-radius: -20px;

      width: 200px;
      height: 150px;
      // margin: 20px 0;
      background: red;
      border-radius: 50% / 20%;
      color: white;
      text-align: center;
      text-indent: .1em;
}
// .footer1{
//   position: relative;
//   top: -14%; 
//   left: 59%;
//   width:45%;
//   height:10%;
//   border-bottom:4px solid yellow;
//   border-right:5px solid transparent;
//   border-left: none;
//   border-bottom-right-radius:100%;
//   border-bottom-left-radius:0%;
//   height: 10vh;
//   display: inline-block;
//   transform: rotate(20px,0px);
//   // background-color: yellow;
// }

  
 
    








 
  
  

  
   
 
 

  
  
  